<!DOCTYPE html>
<html>
  <head>
    <title>Task Hub</title>
    <link rel="stylesheet" type="text/css" href="taskhub.css" />
  </head>
  <body>
    <h1>Task Hub</h1>

    <form id="Title" action="" method="post">
      <label form="Title">Title:</label>
      <input type="text" id="Title" name="Title" required /><br />

      <label form="task">task:</label>
      <input type="text" name="task" id="tasks" /><br />

      <button type="submit">Create Task</button>
    </form>

    </div>
  </body>
</html>
