/* logo part */
.header {
  background-color: #D8BFDB;
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;vi bb	
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
}

/* Navigation section */
.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #fff;
}

.navigation serach-bar {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
