/* logo part */
.header {
  background-color: #D8BFDB;
  padding: 5px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.logo h1 {
  font-size: 24px;
  margin-left: 10px;
}

/* Navigation section */
.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  margin-left: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #fff;
}

.navigation serach-bar {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.notification {
    position: relative;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
  }

.notification button.delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    border: none;
  }

.notification.is-success {
    background-color: #c74848;
    color: #ffffff;
  }

.notification.is-info {
    background-color: #209cee;
    color: #fff;
  }

.notification.is-warning {
    background-color: #ffdd57;
    color: #363636;
  }

.notification.is-danger {
    background-color: #f14668;
    color: #fff;
  }
