li {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  button[type="submit"] {
    background-color: #7851A9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .form {
    margin-bottom: 20px;
  }

  .label {
    display: block;
    font-weight: bold;
  }

  body {
    background-color: #e6a8d7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 900px;
  }