<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
  <link rel="stylesheet" href="base.css">
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
          <h1>TaskHub</h1>
        </div>
		<nav class="navigation">
		  <ul>
			<style display: none>{% if current_user.is_authenticated %}</style>
			<div class="search-bar">
              <input type="text" placeholder="Search">
            </div>
		    <li><a href="#Todo">Home</a></li>
			<li><a href="#Todo">Tasks</a></li>
			<li><a href="#notifications">&#128276;</a></li>
			<li><a href="#settings">Settings</a></li>
			<li><a href="#login">Logout</a></li>
			<style display: none>
			{% endif %}
			{% if not current_user.is_authenticated %}
			</style>
			<li><a href="#register">Signup</a></li>
			<li><a href="#login">Login</a></li>
			<style display: none> {% endif %} </style>
		  </ul>
		</nav>	
      </div>
    </div>
  </header>

    <div class="hero-body">
      <div class="container has-text-centered">
        {% for message in get_flashed_messages() %}
        <div class="notification is-{{ message[0] }}">
          <button class="delete"></button>
          {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
</body>

</html>
