<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-end">
              {% if current_user.is_authenticated %}
              <div class="navbar-item">
                <a href="{{ url_for('tasks', user_id=current_user.id) }}" class="button is-link is-outlined">
                  Task
                </a>
              </div>
              <div class="navbar-item">
              <a href="{{ url_for('settings') }}" class="button is-link is-outlined">
               settings
              </a>
	       <div class="navbar-item">
                <a href="{{ url_for('logout') }}" class="button is-danger is-outlined">
                  Logout
                </a>
              </div>
              {% endif %}
              {% if not current_user.is_authenticated %}
              <div class="navbar-item">
                <a href="{{ url_for('register') }}" class="button is-link is-outlined">
                  Register
                </a>
              </div>
              <div class="navbar-item">
                <a href="{{ url_for('login') }}" class="button is-danger is-outlined">
                  Login
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        {% for message in get_flashed_messages() %}
        <div class="notification is-{{ message[0] }}">
          <button class="delete"></button>
          {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
</body>
</html>
