<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Task Manager{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
 
</head>

<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <div class="header-content">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
          <h1>TaskHub</h1>
        </div>
		<nav class="navigation">
		  <ul>
			<style display: none>{% if current_user.is_authenticated %}</style>
			<div class="search-bar">
              <input type="text" placeholder="Search">
            </div>
		  <li><a href="{{ url_for ('landing_page') }} ">Home</a></li>
			<li><a href="{{ url_for('tasks') }}">Tasks</a></li>
       <li><a href="{{ url_for('edit_task',user_id=current_user.id,user=user_current) }}">Edit Task</a></li>
      <li><a href="{{ url_for('delete_task',user_id=current_user.id,user=user_current,task_id=current_user.id) }}"id="delete-task">DeleteTask</a></li>
			<li><a href="#notifications">&#128276;</a></li>
			<li><a href="{{ url_for('settings')}}">Settings</a></li>
			<li><a href="{{ url_for('logout')}}">Logout</a></li>
			<style display: none>
			{% endif %}
			{% if not current_user.is_authenticated %}
			</style>
			<li><a href="{{ url_for('register') }}">Signup</a>
			<li><a href="{{ url_for('login') }}">Login</a></li>
			<style display: none> {% endif %} </style>
		  </ul>
		</nav>	
      </div>
    </div>
  </header>

    <div class="hero-body">
      <div class="container has-text-centered">
        {% for message in get_flashed_messages() %}
        <div class="notification is-{{ message[0] }}">
          <button class="delete"></button>
          {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
</body>
<script>
const deleteTaskLink = document.getElementById("delete-task");
deleteTaskLink.addEventListener("click", () => {
  alert("Delete Task link clicked!");
});
</script>
</html>
