{% extends 'base.html'%}

{% block content %}

<h1>Edit Task</h1>
<form method="post">
    <div class="form-group"> <label for="tasktitle">Title</label> <input type="text" class="form-control" id="tasktitle"
            name="tasktitle" value="{{ task.title }}" required> </div>
    <div class="form-group"> <label for="taskDescription">Description</label> <textarea class="form-control"
            id="taskDescription" name="taskDescription" rows="3">{{ task.description }}</textarea> </div>
    <div class="form-group"> <label for="taskDueDate">Due Date</label> <input type="date" class="form-control"
            id="taskDueDate" name="taskDueDate" value="{{ task.due_date }}" required> </div>
    <div class="form-group"> <label for="taskStartTime">Start Time</label> <input type="time" class="form-control"
            id="taskStartTime" name="taskStartTime" value="{{ task.start_time }}"> </div>
    <div class="form-group"> <label for="taskEndTime">End Time</label> <input type="time" class="form-control"
            id="taskEndTime" name="taskEndTime" value="{{ task.end_time }}"> </div>
    <div class="form-group"> <label for="taskReminderDate">Reminder Date</label> <input type="date" class="form-control"
            id="taskReminderDate" name="taskReminderDate" value="{{ task.reminder_date }}"> </div>
    <div class="form-group"> <label for="taskPriority">Priority</label> <select class="form-control" id="taskPriority"
            name="taskPriority">
            <option value="low" {% if task.priority=='low' %}selected{% endif %}>Low</option>
            <option value="medium" {% if task.priority=='medium' %}selected{% endif %}>Medium</option>
            <option value="high" {% if task.priority=='high' %}selected{% endif %}>High</option>
        </select> </div>
    <div class="form-group"> <label for="taskLabels">Labels</label> <input type="text" class="form-control"
            id="taskLabels" name="taskLabels" value="{{ task.labels }}"> </div> <button type="submit"
        class="btn btn-primary">Update</button>
</form> 
{% endblock %}