<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
	<label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" required><br><br>
        
        <input type="submit" value="Register">
    </form>
</body>
</html>

