{% extends 'base.html' %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title">Register</h1>
    <form method="POST">
      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" name="first_name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name</label>
        <div class="control">
          <input class="input" type="text" name="last_name" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" name="username" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" name="email" required>
        </div>
        {% if email_error %}
        <p class="help is-danger">{{ email_error }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
