{% extends "base.html" %}

{% block content %}

<style>
 body {
   background-color: #9e7bb3;
}

.emoji {
  font-size: 48px;
  margin-bottom: 20px;
}

.create-task-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8F509D;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.create-task-button:hover {
  background-color: #7851A9;
}
</style>

<h1 class="title">
  Welcome To Taskhub {{current_user.username}}!
</h1>


<div class="emoji">&#128516;</div>
     <h2>Start organizing your tasks and stay productive!</h2>
     <a href="{{ url_for('tasks') }}" class="create-task-button">Create Task</a>
</div>

{% endblock %}
